{% extends 'base.html.twig' %}

{% block body %}
    <h1>Post list</h1>
    <a href="{{ path('int_category_index') }}" class="btn tbn-primary btn-lg pull-right">Categories</a>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Content</th>
                <th>Tags</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <td><a href="{{ path('int_post_show', { 'id': post.id }) }}">{{ post.id }}</a></td>
                <td>{{ post.title }}</td>
                <td>{{ post.content }}</td>
                <td>{{ post.tags }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('int_post_show', { 'id': post.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('int_post_edit', { 'id': post.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('int_post_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
