{% extends 'base.html.twig' %}

{% block body %}
    <h1>Post</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ post.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ post.title }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ post.content }}</td>
            </tr>
            <tr>
                <th>Tags</th>
                <td>{{ post.tags }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('int_post_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('int_post_edit', { 'id': post.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
    <hr>

    {% for key, translation in translations %}
        <div class="row">
            <p>{{ key }}</p> -
            <p>{{ translation.title }} {{ translation.content }}</p>
        </div>
        <hr>
    {% endfor %}
{% endblock %}
