{% extends "OriginBundle::layout.html.twig" %}

{% block content %}
    <h3>Image</h3>
    {#
    <p>ImageStd : <img src="{{ asset(photoStd) }}" alt=""></p>
    <p>ImagePxy : <img src="{{ asset(photoStd) }}" alt=""></p>
    {{ dump(photoStd, photoPxy) }}
    {{ dump(francais) }}
    {{ dump(anglais) }}
    {{ dump(objet) }}
    {{ dump(planteTropicale) }}
    #}

    Europeens ({{ europeens|length }}) :
    {% for europeen in europeens %}
        {{ dump(europeen) }}
    {% endfor %}
    jean : {{ francais.courir }}


    <button class="btn btn-primary" onclick="myFunction()">clicker</button>
    <hr>
    <a href="{{ path('fos_user_registration_register', {profil: 'corporate'}) }}">Register Corporate</a>
    <a href="{{ path('fos_user_registration_register', {profil: 'civil'}) }}">Register Civil</a>
{% endblock content %}