{% extends "OriginBundle::layout.html.twig" %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('css/loader.css') }}">

{% endblock stylesheets %}

{% block content %}
	<a href="{{ path('int_product_index') }}">Produits</a>

	Hello World!

	<p>{{ 'message.hello'|trans }}</p>

	<p>{{ 'message.welcome'|trans }} !!!</p>


	<div class="container">
	    <h3>The columns titles are merged with the filters inputs thanks to the placeholders attributes</h3>
	    <hr>
	    <p>Inspired by this <a href="http://bootsnipp.com/snippets/featured/panel-tables-with-filter">snippet</a></p>
	    <div class="row">
	        <div class="panel panel-primary filterable">
	            <div class="panel-heading">
	                <h3 class="panel-title">Users</h3>
	                <div class="pull-right">
	                    <button class="btn btn-default btn-xs btn-filter"><span class="glyphicon glyphicon-filter"></span> Filter</button>
	                </div>
	            </div>
	            <table class="table">
	                <thead>
	                    <tr class="filters">
	                        <th><input type="text" class="form-control" placeholder="#" disabled></th>
	                        <th><input type="text" class="form-control" placeholder="First Name" disabled></th>
	                        <th><input type="text" class="form-control" placeholder="Last Name" disabled></th>
	                        <th><input type="text" class="form-control" placeholder="Username" disabled></th>
	                    </tr>
	                </thead>
	                <tbody>
	                    <tr>
	                        <td>1</td>
	                        <td>Mark</td>
	                        <td>Otto</td>
	                        <td>@mdo</td>
	                    </tr>
	                    <tr>
	                        <td>2</td>
	                        <td>Jacob</td>
	                        <td>Thornton</td>
	                        <td>@fat</td>
	                    </tr>
	                    <tr>
	                        <td>3</td>
	                        <td>Larry</td>
	                        <td>the Bird</td>
	                        <td>@twitter</td>
	                    </tr>
	                </tbody>
	            </table>
	        </div>
	    </div>
	</div>

	<div>
		Tableau avec filtre complet : <a href="https://mottie.github.io/tablesorter/docs/example-widget-bootstrap-theme.html" target="_blank">TableSorter</a>
	</div>

	<p><a href="{{ path('int_post_index') }}">Posts</a></p>



	<form action="">
		<select name="billing-month" id="">
			<option value="Janvier"></option>
			<option value="Février"></option>
			<option value="Mars"></option>
			...
		</select>

		<select name="billing-targeted" id="">
			<option value="client1"></option>
			<option value="client3"></option>
		</select>

		<input type="submit" value="Valider">
	</form>




	<canvas id="my_canvas"></canvas>
{% endblock content %}


{% block javascripts %}

	{{ parent() }}
	<script src="{{ asset('js/loader.js') }}"></script>
	<script>
		var ctx = document.getElementById('my_canvas').getContext('2d');
		var al = 0;
		var start = 4.72;
		var cw = ctx.canvas.width;
		var ch = ctx.canvas.height;
		var diff;

		function progressSim() {
			diff = ((al / 100) * Math.PI*2*10).toFixed(2);
			ctx.clearRect(0, 0, cw, ch);
			ctx.lineWidth = 10;
			ctx.fileStyle = '#09F';
			ctx.strokeStyle = '#09F';
			ctx.textAlign = 'center';
			ctx.fillText(al + '%', cw*.5, ch*.5+2, cw);
			ctx.beginPath();
			ctx.arc(35, 35, 30, start, diff/10+start, false);
			ctx.stroke();

			if(al >= 100){
				clearTimeout(sim);
				// message de fin de telechargement
			}
			al++;
		}
		var sim = setInterval(progressSim, 50);
	</script>

{% endblock javascripts %}