{% extends "OriginBundle::layout.html.twig" %}

{% block content %}
    <h1>Messages creation</h1>

    {% form_theme form 'foundation_5_layout.html.twig' %}
    {{ form_start(form) }}
        {{ form_widget(form) }}
    <hr>
        <input type="submit" value="Ajouter" class="btn btn-default"/>
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('admin_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
