{% extends "OriginBundle::layout.html.twig" %}


{% block content %}
    <h1>Messages</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ message.id }}</td>
            </tr>
            <tr>
                <th>Subject</th>
                <td>{{ message.subject }}</td>
            </tr>
            <tr>
                <th>Message</th>
                <td>{{ message.message }}</td>
            </tr>
            <tr>
                <th>Auteur</th>
                <td>{{ message.author.name }}</td>
                <td><img class="img-responsive img-users-admin thumbnail" src="{{ asset(message.author.avatar.webPath()) }}" alt="{{ message.author.avatar.alt }}"/></td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_new') }}">Creer</a>
        </li>
        <li>
            <a href="{{ path('admin_edit', { 'id': message.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
