{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
    <h1>yeah !!!!!!!!!!!!!</h1>
{% include "@FOSUser/Registration/register_content.html.twig" %}
{% endblock fos_user_content %}
