{#{{ dump(products) }}#}

{% for product in products %}
    {#{{ dump(product) }}#}
    {% for product in product.translations %}
        <p>{{ product.name }}</p>
        <p>{{ product.description }}</p>
    {% endfor %}

    {{ product.price }}
    {#{{ product. }}#}
    {#{{ dump(product) }}#}
{% endfor %}